#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#include "settings.dtsi"
#include "keys-positions.dtsi"
#include "combos.dtsi"
#include "behaviors/home-row-mods.dtsi"
#include "behaviors/mod-morphs.dtsi"
#include "behaviors/other.dtsi"

#define DEF 0
#define NAV 1
#define NUM 2
#define FUNC 3

    //
/ {
    keymap {
        compatible = "zmk,keymap";

        DEF {
            display-name = "Default";

            bindings = <

// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────┬────────────────────────╮
     &none                    &kp Q                    &kp W                    &kp E                    &kp R                    &kp T                         &kp Y                    &kp U                    &kp I                    &kp O                    &kp P                   &kp BACKSPACE
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
     &none                    &hm_l LCTRL A            &hm_l LALT S             &hm_l LGUI D             &hm_shift_l LSHFT F      &kp G                         &kp H                    &hm_shift_r RSHFT J      &hm_r RGUI K             &hm_r RALT L             &hm_r RCTRL SEMI        &kp SQT
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
     &none                    &kp Z                    &kp X                    &kp C                    &kp V                    &kp B                         &kp N                    &kp M                    &kp COMMA                &kp DOT                  &kp FSLH                &kp RSHFT
// ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────╯
                                                                                &mo NUM                  &lt FUNC TAB             &kp SPACE                     &kp SPACE                &kp RET                  &mm_shift_caps_word_r
//    
      >;
        };

        NAV {
            display-name = "Nav";

            bindings = <

// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────┬────────────────────────╮
     &none                    &kp Q                    &kp W                    &kp E                    &kp R                    &kp T                         &kp Y                    &kp U                    &kp UP                   &kp O                    &kp P                   &kp BACKSPACE
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
     &none                    &hm_l LCTRL A            &hm_l LALT S             &hm_l LGUI D             &hm_shift_l LSHFT F      &kp G                         &kp H                    &kp LEFT                 &kp DOWN                 &kp RIGHT                &hm_r RCTRL SEMI        &kp SQT
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
     &none                    &kp Z                    &kp X                    &kp C                    &kp V                    &kp B                         &kp N                    &kp M                    &kp COMMA                &kp DOT                  &kp FSLH                &kp RSHFT
// ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────╯
                                                                                &mo NUM                  &lt FUNC TAB             &kp SPACE                     &kp SPACE                &kp RET                  &mm_shift_caps_word_r
//    
      >;
        };

        NUM {
            display-name = "Num";

            bindings = <

// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────┬────────────────────────╮
     &none                    &kp Q                    &kp N7                   &kp N8                   &kp N9                   &kp T                         &kp Y                    &kp U                    &kp I                    &kp O                    &kp P                   &kp BACKSPACE
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
     &none                    &hm_l LCTRL N0           &hm_l LALT N4            &hm_l LGUI N5            &hm_shift_l LSHFT N6     &kp G                         &kp H                    &hm_shift_r RSHFT J      &hm_r RGUI K             &hm_r RALT L             &hm_r RCTRL SEMI        &kp SQT
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
     &none                    &kp Z                    &kp N1                   &kp N2                   &kp N3                   &kp B                         &kp N                    &kp M                    &kp COMMA                &kp DOT                  &kp FSLH                &kp RSHFT
// ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────╯
                                                                                &mo NUM                  &lt FUNC TAB             &kp SPACE                     &kp SPACE                &kp RET                  &mm_shift_caps_word_r
//    
      >;
        };

        FUNC {
            display-name = "Func";
            bindings = <

// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────┬────────────────────────╮
     &none                    &kp F10                  &kp F7                   &kp F8                   &kp F9                   &kp T                         &kp Y                    &kp U                    &kp I                    &kp O                    &kp P                   &kp BACKSPACE
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
     &none                    &hm_l LCTRL F11          &hm_l LALT F4            &hm_l LGUI F5            &hm_shift_l LSHFT F6     &kp G                         &kp H                    &hm_shift_r RSHFT J      &hm_r RGUI K             &hm_r RALT L             &hm_r RCTRL SEMI        &kp SQT
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
     &none                    &kp F12                  &kp F1                   &kp F2                   &kp F3                   &kp B                         &kp N                    &kp M                    &kp COMMA                &kp DOT                  &kp FSLH                &kp RSHFT
// ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────╯
                                                                                &mo NUM                  &lt FUNC TAB             &kp SPACE                     &kp SPACE                &kp RET                  &mm_shift_caps_word_r
//    
      >;
        };
    };
};
