/ {
    macros {
        lm: lm {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings = <&macro_param_1to1>, <&macro_press &mo MACRO_PLACEHOLDER>,
                <&macro_param_2to1>, <&macro_press &sk MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_param_2to1>, <&macro_release &sk MACRO_PLACEHOLDER>,
                <&macro_param_1to1>, <&macro_release &mo MACRO_PLACEHOLDER>;
        };

        ma_mo_num_alt: ma_mo_num_alt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &sk LALT>, 
                <&macro_press &mm_ma_mo_num_ctrl>,
                <&macro_release &sk LALT>,
                <&macro_release &mm_ma_mo_num_ctrl>;
        };

        ma_mo_num_gui: ma_mo_num_gui {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &sk LGUI>,
                <&macro_press &mm_ma_mo_num_alt>,
                <&macro_release &sk LGUI>,
                <&macro_release &mm_ma_mo_num_alt>;
        };

        ma_mo_num_shift: ma_mo_num_shift {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &sk LSHFT>,
                <&macro_press &mm_ma_mo_num_gui>,
                <&macro_release &sk LSHFT>,
                <&macro_release &mm_ma_mo_num_gui>;
        };
    };

    mm_ma_mo_num_ctrl: mm_ma_mo_num_ctrl {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&mo NUM>, <&lm NUM LS(LCTRL)>;

        mods = <(MOD_LCTL|MOD_RCTL)>;
        keep-mods = <(MOD_LSFT|MOD_RSFT|MOD_LGUI|MOD_RGUI|MOD_LALT|MOD_RALT|MOD_LCTL|MOD_RCTL)>;
    };

    mm_ma_mo_num_alt: mm_ma_mo_num_alt {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&mm_ma_mo_num_ctrl>, <&ma_mo_num_alt>;

        mods = <(MOD_LALT|MOD_RALT)>;
        keep-mods = <(MOD_LSFT|MOD_RSFT|MOD_LGUI|MOD_RGUI|MOD_LALT|MOD_RALT|MOD_LCTL|MOD_RCTL)>;
    };

    mm_ma_mo_num_gui: mm_ma_mo_num_gui {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&mm_ma_mo_num_alt>, <&ma_mo_num_gui>;

        mods = <(MOD_LGUI|MOD_RGUI)>;
        keep-mods = <(MOD_LSFT|MOD_RSFT|MOD_LGUI|MOD_RGUI|MOD_LALT|MOD_RALT|MOD_LCTL|MOD_RCTL)>;
    };

    mm_ma_mo_num_shift: mm_ma_mo_num_shift {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&mm_ma_mo_num_gui>, <&ma_mo_num_shift>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
        keep-mods = <(MOD_LSFT|MOD_RSFT|MOD_LGUI|MOD_RGUI|MOD_LALT|MOD_RALT|MOD_LCTL|MOD_RCTL)>;
    };
};