/ {
    macros {
        lm {
            compatible = "zmk,behavior-macro";
            #binding-cells = <2>;
            bindings = <&macro_param_1to1>, <&macro_press &mo MACRO_PLACEHOLDER>,
                <&macro_param_2to1>, <&macro_press &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_param_2to1>, <&macro_release &kp MACRO_PLACEHOLDER>,
                <&macro_param_1to1>, <&macro_release &mo MACRO_PLACEHOLDER>;
        };

        ma_mo_num_alt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &mm_ma_mo_num_ctrl>,
                <&macro_press &kp LALT>,
                <&macro_pause_for_release>,
                <&macro_release &mm_ma_mo_num_ctrl>,
                <&macro_release &kp LALT>;
        };

        ma_mo_num_gui {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &mm_ma_mo_num_alt>,
                <&macro_press &kp LGUI>,
                <&macro_pause_for_release>,
                <&macro_release &mm_ma_mo_num_alt>,
                <&macro_release &kp LGUI>;
        };

        ma_mo_num_shift {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &mm_ma_mo_num_alt>,
                <&macro_press &kp LSHFT>,
                <&macro_pause_for_release>,
                <&macro_release &mm_ma_mo_num_gui>,
                <&macro_release &kp LSHFT>;
        };
    };

    mm_ma_mo_num_ctrl: mm_ma_mo_num_ctrl {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&mo NUM>, <&lm NUM LCTRL>;

        mods = <(MOD_LCTL|MOD_RCTL)>;
    };

    mm_ma_mo_num_alt: mm_ma_mo_num_alt {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&mm_ma_mo_num_ctrl>, <&ma_mo_num_alt>;

        mods = <(MOD_LALT|MOD_RALT)>;
    };

    mm_ma_mo_num_gui: mm_ma_mo_num_gui {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&mm_ma_mo_num_alt>, <&ma_mo_num_gui>;

        mods = <(MOD_LGUI|MOD_RGUI)>;
    };

    mm_ma_mo_num_shift: mm_ma_mo_num_shift {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&mm_ma_mo_num_gui>, <&ma_mo_num_shift>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
};